{% extends '::baseUser.html.twig' %}

	{% block fos_user_content %}
		
		<div class="container">
	        <div class="row">
	            <div class="col-md-4 col-md-offset-4">
	                <div class="login-panel panel panel-default">
	                    <div class="panel-heading">
	                        <h3 class="panel-title">تعديل كلمة المرور</h3>
	                    </div>
	                    <div class="panel-body">
	                    	{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
                    	</div> 
					</div> 
				</div> 
			</div>
		</div>

    {% endblock fos_user_content %}